<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue dans l'application Université</h1>

    {% if user.is_authenticated %}
        <p>Bonjour {{ user.username }}, vous êtes connecté.</p>
        
        <ul>
            <li><a href="{% url 'liste_cours' %}">Voir les cours</a></li>
            <li><a href="{% url 'accueil_enseignant' %}">Voir les enseignants</a></li>
        </ul>
        
        <p>
            <a href="{% url 'deconnexion' %}">Se déconnecter</a>
        </p>
        
    {% else %}
        <p>Vous n'êtes pas connecté.</p>
        
        <ul>
            <li><a href="{% url 'liste_cours' %}">Voir les cours</a></li>
            <li><a href="{% url 'accueil_enseignant' %}">Voir les enseignants</a></li>
        </ul>
        
        <p>
            <a href="{% url 'connexion' %}">Se connecter</a>
        </p>
    {% endif %}
</body>
</html>